# editor-specific files
*.kdev4
*~
*.swp
*.geany
.cproject
.metadata
.project

# build artifacts
basil
basilp
*.a
*.o
*/*.a
*/*.o
*/*.out
*.exe
*/*.exe

# documentation
doc/

# testing temps
test/prof
test/tmp
